VIDEO_MASK_CONTROLLER={{ video_mask_controller_url }}
VIDEO_MASK_WORKER_ID={{ video_mask_worker_id | default(inventory_hostname) }}-slot-{{ worker_slot }}
VIDEO_MASK_WORKER_TOKEN={{ video_mask_worker_token }}
