{{ video_mask_autoscale_event_log | default('/var/log/video-mask-autoscaler/events.log') }} {
    daily
    rotate 30
    missingok
    notifempty
    compress
    delaycompress
    copytruncate
    su ubuntu ubuntu
}
